
@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="form-row">
        <!-- Estudio de Abogados (Law Firm) -->
        <div class="form-group col-md-3">
            <label for="selectLawFirm">Estudio Asignado</label>
            <select class="custom-select" id="selectLawFirm"></select>
        </div>
        <!-- Número de Expediente (File Number) -->
        <div class="form-group col-md-4">
            <label for="inputFileNumber">Número de Expediente</label>
            <input type="text" class="form-control text-uppercase" id="inputFileNumber">
        </div>
    </div>
    <div class="form-row">
        <!-- Fecha de Notificación de Denuncia (Notify Date) -->
        <div class="form-group col-md-3">
            <label for="inputNotifyDate">Fecha de Notificación</label>
            <input type="date" class="form-control" id="inputNotifyDate">
        </div>
        <!-- Fecha de Vencimiento (Due Date) -->
        <div class="form-group col-md-3">
            <label for="inputDueDate">Fecha de Vencimiento</label>
            <input type="date" class="form-control" id="inputDueDate">
        </div>
        <!-- Fecha de Recepción (Reception Date) -->
        <div class="form-group col-md-3">
            <label for="inputReceptionDate">Fecha de Recepción</label>
            <input type="date" class="form-control" id="inputReceptionDate">
        </div>
    </div>
    <div class="form-row">
        <!-- Agencia de Recepción (Agency) -->
        <div class="form-group col-md-3">
            <label for="selectAgency">Agencia de Recepción</label>
            <select class="custom-select" id="selectAgency"></select>
        </div>
        <!-- Ciudad Sede (Due Date) -->
        <div class="form-group col-md-3">
            <label for="selectCity">Ciudad Sede</label>
            <select class="custom-select" id="selectCity"></select>
        </div>
        <!-- Tipo de Proceso (Process Type) -->
        <div class="form-group col-md-4">
            <label for="selectProcessType">Tipo de Proceso</label>
            <select class="custom-select" id="selectProcessType"></select>
        </div>
    </div>
    <div class="form-row mt-2">
        <button id="btnSave" class="btn btn-outline-primary btn-block">Guardar</button>
    </div>
</div>
@section scripts {
    <script>
        $(() => {

            // Estudio de Abogados (Law Firm)
            $.ajax({
                type: 'GET',
                url: 'GetLawFirms',
                success(array) {
                    let options = '';
                    for (let elem of array) {
                        options += printOptionInSelect(elem.id, elem.description);
                    }
                    $('#selectLawFirm').html(options);
                }
            });

            // Fecha de Notificación de Denuncia (Notify Date)
            $('#inputNotifyDate').val(moment().format('YYYY-MM-DD'));

            // Fecha de Vencimiento (Due Date)
            $('#inputDueDate').val(moment().format('YYYY-MM-DD'));

            // Agencia de Recepción (Agency)
            $.ajax({
                type: 'GET',
                url: 'GetAgencies',
                success(array) {
                    let options = '';
                    for (let elem of array) {
                        options += printOptionInSelect(elem.id, elem.description);
                    }
                    $('#selectAgency').html(options);
                }
            });

            // Ciudad Sede (City)
            $.ajax({
                type: 'GET',
                url: 'GetCities',
                success(array) {
                    let options = '';
                    for (let elem of array) {
                        options += printOptionInSelect(elem.id, elem.description);
                    }
                    $('#selectCity').html(options);
                }
            });

            // Tipo de Proceso (Process Type)
            $.ajax({
                type: 'GET',
                url: 'GetProcessTypes',
                success(array) {
                    let options = '';
                    for (let elem of array) {
                        options += printOptionInSelect(elem.id, elem.description);
                    }
                    $('#selectProcessType').html(options);
                }
            });

            // Guardar
            $('#btnSave').click(() => {
                let lawFirm = $('#selectLawFirm').val();
                let fileNumber = $('#inputFileNumber').val();
                let notifyDate = $('#inputNotifyDate').val();
                let dueDate = $('#inputDueDate').val();
                let receptionDate = $('#inputReceptionDate').val();
                let agency = $('#selectAgency').val();
                let city = $('#selectCity').val();
                let processType = $('#selectProcessType').val();

                let claim = {
                    lawFirm,
                    fileNumber,
                    notifyDate,
                    dueDate,
                    receptionDate,
                    agency,
                    city,
                    processType
                };

                console.log(claim);
            });

        })
    </script>
}
